@import url('/stylesheet/global.css');

body {
    background-image: url('/img/admin-background-alt.jpg');
    background-size: cover;
}

.login {
    background-color: rgba(0, 0, 0, 0.7);
    width: 360px;
    padding: 40px 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: calc(40vh - 150px);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.login .login-header {
    color: white;
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
}

.login .login-form {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.login .login-form .input {
    width: calc(100% - 40px);
    font-size: 16;
    letter-spacing: 1px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-bottom: solid #FFFFFF 1px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.login .login-form .input::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-size: 16;
    letter-spacing: 1px;
}

.login .login-form .button {
    width: calc(100% - 20px);
    border: none;
    margin-left: 10px;
    margin-top: 20px;
    height: 40px;
    background-color: #FFFFFF;
}

.login .login-form .link {
    margin-top: 20px;
    float: right;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.login .login-footer {
    color: #cecece;
    font-weight: 200;
    margin-top: 20px;
}
.login .login-footer .login-error-message {
    text-align: center;
    background-color: tomato;
    color: white;
    padding: 10px 0;
    margin: 20px 0 20px 0;
}