<head>
    <link rel="stylesheet" href="/stylesheet/admin.css" />
</head>

<body>
    <%- include("theme/sidebar") %>
    <main>
        <h1 class="title">
            Authors </br>
            <small>Admin / Authors</small>
        </h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu tortor in purus consequat efficitur. Duis
            facilisis libero lectus, vitae blandit dolor sodales nec. Fusce efficitur elementum vehicula. Cras tincidunt
            felis et dui sagittis blandit. Nunc vulputate metus purus, vitae blandit neque pharetra ut. Nullam malesuada
            sit amet nibh nec dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Maecenas mollis, massa lacinia finibus ullamcorper, lectus velit accumsan eros, sit amet luctus lorem
            est et tellus. Donec lacinia sem et volutpat lobortis.

            Nunc placerat, nisi mollis euismod posuere, neque risus porta ex, vitae sollicitudin ante felis sit amet
            est. Phasellus rhoncus, nisi a ultrices interdum, ex lacus luctus felis, non lobortis enim libero
            condimentum velit. Suspendisse rhoncus, ex eget eleifend porttitor, justo ante sagittis nulla, sit amet
            fermentum ligula enim vel nisl. Etiam et convallis arcu, non elementum leo. Ut pretium, velit eget tempus
            finibus, nisi dui cursus orci, ut scelerisque nisl velit eget ligula. Etiam porta elementum lorem at porta.
            Cras et nisl bibendum, congue nisl suscipit, aliquet odio. Aliquam erat volutpat. Praesent vel porttitor
            quam. Aliquam aliquam semper enim ut consequat. Donec elementum, urna ut ornare ultrices, purus dolor
            commodo mi, non sagittis dolor ligula vitae sem.

            Vivamus consectetur enim tincidunt, consequat justo nec, convallis nunc. Duis fringilla eros id lorem
            consectetur, eget mattis purus efficitur. Vestibulum commodo libero eu massa lobortis sollicitudin. Sed
            consequat diam lacus, sed ullamcorper nisl congue in. Sed bibendum libero ac justo luctus, et dignissim est
            pulvinar. Vestibulum ac arcu vel lorem ultrices varius et sit amet augue. Etiam hendrerit neque justo, id
            laoreet quam malesuada eget. Phasellus mollis sapien nibh, et finibus odio rhoncus a. Vivamus eget blandit
            mauris. Mauris molestie tortor dignissim interdum sodales. Phasellus augue leo, varius ac porttitor at,
            finibus ut urna. Nulla finibus mi mauris, ut mollis sem pharetra a. Integer cursus est ex, id dictum mauris
            finibus sodales.

            Sed fermentum lobortis lacus, ut elementum arcu ultricies vel. Mauris dignissim, erat eget egestas
            scelerisque, augue dui mattis ligula, at tempor elit magna dignissim erat. In venenatis viverra justo, at
            fermentum nisl sagittis id. In et maximus dolor, vitae posuere dui. Suspendisse elementum urna mauris. Nunc
            accumsan vestibulum nibh vel dictum. Quisque eget pretium dui. Duis vel nibh ut sapien suscipit porta. Donec
            porttitor egestas erat et pharetra. Nunc eleifend justo diam, sit amet blandit mauris convallis nec. Mauris
            dictum imperdiet eros id eleifend. Nulla eu ex id nibh suscipit feugiat non in quam. Donec condimentum nulla
            felis, sed tristique nisl facilisis et. Maecenas laoreet facilisis turpis at ultrices. Vivamus eu tempus
            diam. Proin lobortis, justo et vulputate elementum, augue ante fringilla mi, ac ultricies lectus ex ac
            mauris.

            Etiam ac sem nec velit dignissim ultrices a nec nulla. Proin dapibus magna eget tellus rhoncus consequat.
            Aenean posuere, felis eget venenatis tristique, lorem leo viverra diam, aliquet pulvinar metus metus a nisi.
            Vestibulum imperdiet, ipsum a consectetur interdum, lectus mauris pretium felis, sed varius mauris purus at
            dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat placerat interdum. In sed
            fermentum arcu, eget semper nibh. Aliquam in leo consectetur, condimentum mi ac, efficitur augue. Donec
            gravida nulla leo, vitae ultrices nulla imperdiet sit amet. Quisque quis sagittis odio, non feugiat augue.
        </p>
    </main>
</body>