<!DOCTYPE html>
<html lang="pt-br">
    <header>
        <title>JSBlog - Login</title>
        <link rel="stylesheet" href="/stylesheet/login.css" />
    </header>
    <body>
        <div class="wrapper">
            <div class="login">
                <div class="login-header">
                    LOGIN
                </div>
                <div class="login-form">
                    <form action="" method="POST" autocomplete="off">
                        <input type="email" placeholder="Email" name="email" id="email" class="input" value="<%=email%>" />
                        <input type="password" placeholder="Password" name="password" id="password" class="input" value="<%=password%>" />
                        <a href="/admin/recovery" class="link">Forgot your passord?</a>
                        <button type="submit" class="button">
                            LOGIN
                        </button>
                    </form>
                </div>
                <div class="login-footer">
                    <% if(errorMessage) {%>
                    <div class="login-error-message">
                        <%= errorMessage _%>
                    </div>
                    <%}%>
                    Don't have an account? <a href="/admin/register" class="link">Register.</a> 
                </div>
            </div>
        </div>
    </body>
</html>