<!DOCTYPE html>
<html lang="pt-br">
    <header>
        <title>JSBlog - Register</title>
        <link rel="stylesheet" href="/stylesheet/register.css" />
    </header>
    <body>
        <div class="wrapper">
            <div class="register success">
                <div class="register-header">
                    SUCCESS
                </div>
                <div class="register-body">
                        Welcome, a confirmation code was sent to you email <strong><%=email%></strong>.<br />
                        Please check your email to complete registration.
                </div>
                <div class="register-footer">
                    <a class="link right" href="/admin/login">Back to login</a>
                </div>
            </div>
        </div>
    </body>
</html>